*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	   font-family: 'Anek Devanagari', sans-serif;
	   font-family: 'Open Sans', sans-serif;
	   font-family: 'Roboto Condensed', sans-serif;
	   font-style: 16px;
	   color: #333;
}

img{
	max-width: 100%;
}
li{
	list-style: none;
}

.container{margin: auto;width: calc(100% - 100px);}
.flex{display: flex;flex-wrap: wrap; align-items: center;}

/**header start**/
header{margin: 20px 0;}
.logo{width: 20%;}
.logo a{}
/**header end**/


/**nav start**/
nav{width: 80%;}
nav ul{justify-content: flex-end;}
nav ul li{}
nav ul li a{transition-duration: 1s; text-transform: uppercase; text-decoration: none;color: #686868;font-size: 20px;padding: 0 50px;font-weight: 500;}
nav ul li a:hover{background: black;padding: 10px 25px;color: white;margin: 0px 5px; }
/**nav end**/


.banner-section{
	}

.banner-section img{
	width: 100%;
}
.col-1-1{}
.col-2-1{width: 50%;}

article{padding: 50px;}
article img{width: 100%;display: block;}
article span{color: #929292ab;font-size: 18px;text-transform: uppercase;display: inline-block;padding-top: 40px;}
article a{text-decoration: none;color: #4d4d4d;text-transform: uppercase;}
article a h1{text-decoration: none;color: #444;font-size: 25px;font-weight: 600;padding: 12px 0;}
article p{font-size: 18px;line-height: 1.4;padding-bottom: 30px;}


footer{background-color: #c8c8c8;padding: 30px;}
.footer-menu {width: 50%;}
.footer-menu li{}
.footer-menu li a{text-decoration: none;color: black;padding: 0 15px;}
.footer-menu li a:hover{
	opacity: 0.5;
}


.social-link {justify-content: flex-end;}
.social-link li{}
.social-link li a{text-decoration: none;padding: 0 10px;color: black;}
.social-link li a:hover{
	opacity: 0.5;
}